<h1> <%= @the_user.username%></h1>
<dl>
<dt>Private</dt>
<% if @the_user.private == true %>
<dd> true</dd>
<% else %>
<dd> false </dd>
<% end %>

<% @followers = @the_user.received_follow_requests %>
  <dt> Followers </dt>
  <dd><%= @followers.count %></dd>
  <h4> Pending follow requests </h4>
  <% @pending_followers.each do |request| %>
  <% if request.status == "pending"%>
  <%= request.sender.username%>
  <form action="/modify_follow_request/<%= request.id%>" method="post">
  <input type="hidden" id="recipient_id_box" name="query_recipient_id" value="<%=request.recipient_id %>">
    <input type="hidden" id="sender_id_box" name="query_sender_id" value="<%=request.sender_id %>">
        <input type="hidden" id="status_box" name="query_status">
        <button>
        Accept
        </button>
        </form>

  <% end %>
<% end %>

<%following=@the_user.sentfollowrequests%>
  <dt>Following</dt>
  <dd><%=following.count%></dd>

<!-- Follow or Unf -->
<% if session.fetch(:user_id) != @the_user.id%>
</div>
  <%@following = FollowRequest.where({:sender_id => @the_user.id})%>
  <div>
  <% the_follow_request = @current_user.follow_request_for(@the_user.id)%>

    <% if the_follow_request.nil? %>
    <form action="/insert_follow_request" method="post">
    <input type="hidden" name="query_recipient_id" value="<% @the_user.id%>">
    <button>
    Follow
    </button>
    </form>
      <% elsif the_follow_request.status == "accepted" %>
      <a href="/delete_follow_request/<%=the_follow_request.id%>">
      Unfollow
      </a>
      <%end%>
    </div>
      <% end%>

<!-- EDIT USER -->

<% if session.fetch(:user_id) == @the_user.id%>
<dt> Edit User</dt>
<dd>
  <form action="/modify_user/<%= @the_user.id%>" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="query_username" placeholder="Enter a username...." value="<%= @the_user.username%>">

  <label for="browser_private">Private?</label>
  <input id="browser_private" type="checkbox" name="query_private">
    <button> Update user </button>
    </form>
    </dd>
    <%end %>

    <!-- LINKS -->

<nav>
  <ul>  
   <li>
   <a href="/users/<%= @the_user.username%>">Profile<a>
    </li>
    <li>
   <a href="/users/<%= @the_user.username%>/liked_photos">Liked Photos<a>
    </li>
    <li>
    <a href="/users/<%= @the_user.username%>/feed">Feed<a>
    </li>
    <li>
    <a href="/users/<%= @the_user.username%>/discover">Discover<a>
    </li>
  </ul>
</nav>

<!-- User Photos-->
<h2> Own Photos (<%= @the_user.photos.count%>)</h2>
<table border="1">
<tr>
  <th>
    Image
  </th>
   <th>
    Owner
  </th> <th>
    Caption
  </th> <th>
    Posted
  </th> <th>
    Likes
  </th>
  <th></th>
</tr>
<% @the_user.photos.each do |foto|%>
<tr>
  <td> <img src="<%=foto.image%>"></td>
  <td> <%=@the_user.username%></td>
  <td> <%=foto.caption%> </td>
  <td> <%=time_ago_in_words(foto.created_at).gsub("about"," ").sub("almost"," ").gsub("over"," ")%> ago</td>
  <td> <a href="/photos/<%=foto.id%>">Show details</a></td>
  </tr>
  <%end%>
</table>
