<div>
 <a href="/photos">
          Go back
        </a>
  <div>
    <h1>
      Photo Details
    </h1>

    <div>
      <div>
       
      </div>
        <dt>
         Image
        </dt>
        <dd>
        <img src="<% @the_photo.image %>">
        </dd>
    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

    <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
   
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

  

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
       Posted at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

     <dt>Fans</dt>
      <dd>
        <% @the_photo.likes.each do |flans|%>
        <%= flans.fan.username%>
        <%end%>
      </dd>
      
      <dt>Add a fan</dt>

      <dd> <% if @user_like_checker != nil %>
        <a href="/delete_like/<%= @user_like_checker.id %>">
        Unlike
        </a>
        <% else %>
        <dd>


      <form action="/insert_like" method="post">
      <input type="hidden" id="fan_id_box" name="query_fan_id" value="<%= @current_user.id%>">
      <input type="hidden" id="photo_id_box" name="query_photo_id" value="<%= @the_photo.id%>">
      <button>Like</button>
        <%end%>

    </dl>
  </div>
</div>


<dd>
  <% if @current_user.id == @the_photo.owner_id%>
  <dt>Edit Photo</dt>
  <dd>

  <form action="/modify_photo/<%= @the_photo.id %>"  method="post" enctype="multipart/form-data" >
  <label for="image_box">
    Image
  </label>

  <input type="file" id="image_box" name="query_image" placeholder="Enter the URL for the image...">
  <label for="browser_caption">
    Caption
  </label>

  <textarea id="browser_caption" name="query_caption"> <%= @the_photo.caption %></textarea>
  <button>
    Update photo
  </button> 
  </form>
  </dd>

  <dt>
    Delete photo
  </dt>
  <dd>
  <a href="/delete_photo/<%= @the_photo.id %>">
    Delete this photo
  </a>
  </dd>
  </dl>
  <%end%>

  <div>
    <h2>
      Comments
    </h2>
  <table>
    <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
    </tr>

    <%@the_photo.comments.each do |comentarios| %>

    <tr>
      <td>
        <%= comentarios.commenter.username%>
      </td>

      <td>
        <%= comentarios.body %>
      </td>

      <td>
        <%= time_ago_in_words(comentarios.created_at)%>
      </td>
    </tr>
    <%end%>
  </table>

    <h3>Add a new comment</h3>

    <form action="/insert_comment" method="post">
      <input type="hidden" value="<%=@the_photo.id%>" name="query_photo_id">
      <input type="hidden" id="author_id" value="<%=@current_user.id%>" name="query_author_id">

      <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>
      <label for="browser_comment">Comment</label>
      <button> Add Comment</button>
    </form>



     <!-- <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption" value="<%= @the_photo.caption %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>-->
